.sidebar {
    height: 100vh;
    background-color: red;
    width: 400px;
    position: absolute;
    padding: 25px;

    .link {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: all ease 0.5s;

        &.active {
            transition: all ease 0.5s;
            background-color: #fff;
            color: red;
        }
    }
}