.mahsulotlar {
    display: flex;
    justify-content: center;
    gap: 10px;

    h1 {
        cursor: pointer;
    }
}

.products {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
        background-color: red;
        color: white;
        padding: 12px 8px;
        border: none;
        border-radius: 8px;
    }
}